<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

<%- include(views+'/head.html') %>

	<script type="text/javascript" src="index.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<%- include(views+'/pre.html') %>

<div id="global_controls" class="bubble inline">
	<div>
		<p>Players:</p>
		<div id="players" class="bubble inline"></div>
	</div>
	<div class="space">
		<button id="door"></button>
		<button id="leave">Leave</button>
	</div>
	<p>Hand Size: <input id="hand_size" class="control_number" type="number" autocomplete="off" value="6"></p>
	<p>Board Starting Size: <input id="board_size" class="control_number" type="number" autocomplete="off" value="6"></p>
	<form id="set_id_form">
		<span>Set Id: </span><input id="set_id_input" type="text" value="284065846">
		<input type="submit">
	</form>
</div>


<div id="controls" class="flex">
	<div id="game_controls_div"></div>
	<div class="bubble inline">
		<p>Set Title: <span id="set_title"></span></p>
		<p>Set Id: <span id="set_id"></span></p>
		<p>Current Player: <span id="current_player"></span></p>
	</div>
	<div class="bubble inline">
		<p>Players:</p>
		<div id="game_players"></div>
	</div>
</div>

<div>
	<div id="qorder_game" hidden>
		<div class="bubble">
			<p>Hand:</p>
			<div id="hand" class="flex"></div>
		</div>
		<div class="bubble">
			<p>Board:</p>
			<div id="board" class="flex"></div>
		</div>
	</div>

	<div id="game_end" hidden>
		<p><span id="winner"></span> is the winner!</p>
	</div>
</div>

<img id="correct_answer" class="answer_img" src="truck.jpg">
<img id="wrong_answer" class="answer_img" src="harold.jpg">

<%- include(views+'/post.html') %>
